
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"291c2c7a3164459fb7a4ba91fa724a3d": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.4", "state": {"_data_down": "H4sIAOLh0V0C/02Su2oDMRBF/0X1IqR5z3aBlCnSmy2WxIXBjgNx0hj/e4w9Wknl4XK4M6PdNX2t\np32a08vL+1ua0ud6WdO821VyqVzL402VMYsu0wMDKjUMWSUwAlpPVwtMtUDDnIkDizj1tGNgZd4k\n1NNGMEiwNXEw6Wn3J9ZSufUmyx5NFJSahO5NIDBKaRKSzE1CpKWna0ypjNh6E2VoaaneehNkiIJq\n6qW7kQK7MHV3qU9shat1bCGxijb0lliVAdDQG2JKI8NRElMa63YGwqxNIiwypBtWwtLT0twGPgxf\nwu3FtjPc03EzB6ljODblSDpsqhVxwn4c2n7P/cQ4biqu4Ko+DMm4LFO6nM/Hy+E7zdf0tx5/96/7\nj8NpPf6kGW635R+ZMy/S6QIAAA==\n", "_dom_classes": [], "_id": 109572995, "_options_down": "H4sIAOLh0V0C/6tWKkrMS08NTs1JTS7JL1KyqlYqBrNTU5SsDGt1lEoyS3JSQcIlqRUlSlZKjo4B\nPgrBJfnJ2QoBRZnJqUpANckZiUUlYDWVBUC1SjmZeUDxWgAcABTrXAAAAA==\n", "height": "500px", "layout": "IPY_MODEL_c5ad813309f14535b8cec46d52e3a1a9", "stock": true, "width": "100%"}}, "c5ad813309f14535b8cec46d52e3a1a9": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.1.0", "state": {}}}}
</script>
<div id="embed-grid-109572995">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "291c2c7a3164459fb7a4ba91fa724a3d"}
  </script>
</div>
    '
        height="520"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-basic-chart',
  data() {return {}}
}
</script>
