
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"cf9ec61293fb44b99f2837cbcbdcaf01": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIAKky0l0C/6WSuU7DQBBA/8W1heY+0vEPdJELCygQggIoQIh/Z4zXcaJshzvv27n2zfF7eJ1f\nHofDcPc23z/jMA5ft59P78MBxuFh/piHw/GIQgAOAss34g1M498ZqsV6BjeZqgGJHA0KGpygk9Zl\nZW9QgeQEVRUgzDYWsWd11lDSwAbNlXYIyYTI1KBbq7mWtDBCapEIBHtadSAu2ppFBN/TipCnJWyR\nmLynRU5SA9sgrUlXCBUFKG1KZLN9SqrJzDxbs2hLmg0ycaSiS4OOBGeRGEFiG8vYs4ILSNXBafoZ\nL13SP1xyteMaeeWyAqBeJKDav3K5QGOvRXDsyawRy4Fb12Vi8GK05zJqPUJQtOsyNBO39blUacZZ\nD8bZU+kkXKvl3lMZiJQkyT2XqiwsqdxzWdd4+feeSxYDPat5IXPptJpnLZnTL365eNiaAwAA\n", "_data_up": "{\"series\":[[{\"x\":1420070400000,\"y\":1},{\"x\":1420156800000,\"y\":0.9955809138},{\"x\":1420416000000,\"y\":0.9725156537},{\"x\":1420502400000,\"y\":0.955500866},{\"x\":1420588800000,\"y\":0.9735852581},{\"x\":1420675200000,\"y\":0.9709321132},{\"x\":1420761600000,\"y\":0.9726862121},{\"x\":1421020800000,\"y\":0.9570236218},{\"x\":1421107200000,\"y\":0.9442796901},{\"x\":1421193600000,\"y\":0.9139256061},{\"x\":1421280000000,\"y\":0.906900147},{\"x\":1421366400000,\"y\":0.9220566792},{\"x\":1421625600000,\"y\":0.9323895174},{\"x\":1421712000000,\"y\":0.922188246},{\"x\":1421798400000,\"y\":0.9074043661}],[{\"x\":1420070400000,\"y\":1},{\"x\":1420156800000,\"y\":0.9933897589},{\"x\":1420416000000,\"y\":1.0021180625},{\"x\":1420502400000,\"y\":1.0063755871},{\"x\":1420588800000,\"y\":0.989508076},{\"x\":1420675200000,\"y\":0.9791839709},{\"x\":1420761600000,\"y\":0.9808684145},{\"x\":1421020800000,\"y\":0.958599166},{\"x\":1421107200000,\"y\":0.9663917939},{\"x\":1421193600000,\"y\":0.9724325877},{\"x\":1421280000000,\"y\":0.9811292493},{\"x\":1421366400000,\"y\":0.9553434953},{\"x\":1421625600000,\"y\":0.9400325607},{\"x\":1421712000000,\"y\":0.9346055877},{\"x\":1421798400000,\"y\":0.9179372035}],[{\"x\":1420070400000,\"y\":1},{\"x\":1420156800000,\"y\":0.9955809138},{\"x\":1420416000000,\"y\":0.9725156537},{\"x\":1420502400000,\"y\":0.955500866},{\"x\":1420588800000,\"y\":0.9735852581},{\"x\":1420675200000,\"y\":0.9709321132},{\"x\":1420761600000,\"y\":0.9726862121},{\"x\":1421020800000,\"y\":0.9570236218},{\"x\":1421107200000,\"y\":0.9442796901},{\"x\":1421193600000,\"y\":0.9139256061},{\"x\":1421280000000,\"y\":0.906900147},{\"x\":1421366400000,\"y\":0.9220566792},{\"x\":1421625600000,\"y\":0.9323895174},{\"x\":1421712000000,\"y\":0.922188246},{\"x\":1421798400000,\"y\":0.9074043661}]],\"xAxis\":{\"min\":1420070400000,\"max\":1421798400000},\"yAxis\":{\"min\":-10,\"max\":2.5}}", "_dom_classes": [], "_id": 635766734, "_options_down": "H4sIAKky0l0C/7VUS2/bMAz+K4SANUnnOlkvA5w0wICi6KHDDu2wBMsQKDYTa5MlQ6YXu4H/+yg7\nr649DdhNpPg9SD12InaYKCpEtBNo5EpjIiJyJQaCsCIRiUdbuhgjmM1mcKftFh7JScJNDRfwaHVJ\nypoiFIFIHa65PiXKo8VwMdxutyFWMss1hrHNRBMIrHLrSJnNKznejFPpyG88W5s91TkyWVUzMXVr\nrQx6klxb+pK3sr66QKewXbFILp0vzZEtGxINl2vcoEne6E/L2pa+w9Q69WwNSc1iUquN4aTHo+NE\nJqt7VJuUKz+MRkxI1mpS+RuMv6Uu8RZjlUnNjq7Zq1WG7qzLpBeaFLk0UFCt8aYXW21dtOvsh23U\n9KaH2MgMm8li6BHTCCar6a7lCmufXU2hv495amaDzbvBZOUWw6nwmoXy02H3kViXJvZBX8sV6m8q\noTSAdt01FUBLM4Ddb+nA2dIkX3PuE27gCE14FxxS6Qzw1uVnSWm41ta6frIYcmYwhiY4CTD2RHQm\nPAjaI+btrTKJ3YZtWHzvLZdlqZLlsvdj7F3sBzwLDqt5l8aCZgzud437azCD93Cmewmj8CNMoeVt\nC7r8YgjXA7i4eAm9eg2dvA09ys9Z/kQx5/qzUXYcY7WGfmeVBVsQj+/QEuNPCg+4Jm6g/7fmubFB\n62B8GMQL/JPNGX6K9zauzk2NG0Bd4P9zMG72N2NXRaeTq4/reTNu/KslRRr9m9l/K08qQ+guO3gq\nwoSvBWvfs+1HsvEvjyrK1Sugk6bw79wQyDjGomApoBSBrxw6XfP3Aj8L0GrlGepPlWp/h41TyQN/\nIW1T/JbDUXDM3cqCNWuvI24teVz1T7jmD4DJ2BFRBQAA\n", "height": "500px", "layout": "IPY_MODEL_a60efebb0d484d27acf9e736ea446256", "stock": true, "update_data": 1, "width": "100%"}}, "a60efebb0d484d27acf9e736ea446256": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-635766734">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "cf9ec61293fb44b99f2837cbcbdcaf01"}
  </script>
</div>
    '
        height="520"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-simple-time-series',
  data() {return {}}
}
</script>
