
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"25e9d4a0d4f542558b6c06de887f7047": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIAB4z0l0C/6Vby44dxw39FeOuEmBwUdVdLLLmA7KbnXeGFuN4EhuQNICsADEM/3t61Jdkz0zz\nsAItpI2oKhYfh4dk35/+vDx+/u3T49ffnj9f7v/1+PH3p7vL58dPT5f7yz+ePj1+fLrcXb7+58vP\nzz/++uXp91+fP/5yuS93l38+f3z+ssl8+ffPj39blvXuB7n9udLft//yy+PXx8v9T39e/nu5r71e\nl7vLH5d7qtf+9vi/7m5CfKVdaFxLJLT92y7UxsuRgRC/HLAJ9RWcRFfZr1tjnbjcTkp0qrtODF7X\nVafxcm9wXb/ZaZMOhXq5CTHFJuBFjYmEynXsQg2etAv1b0cGJlivbTfBEtupmzFLLLTZcFEHxyYQ\nF4oVp9t1vE6EynavgMjsuwkkFrLI3F7XU50EGHN3/stJDF7Xb9cJUJwtVBYg1NQtLdaJV0+E+KSh\nocLXFehEKiRpqDQGedc06Hpsp76o4hSf5MZcZ8L3272BTnpdI/C65QYYU9CDwtewgL4dGQjVF2/s\nFh8g6HZjUgcgJo4FoYM30L2Fr4AY15RCQXcEjCV/XQE62XUChEjd0qHFc53cd0tscTrUuwnoqTAy\nWWtLBW5ZNBEGCF9LKcoVb8CYcnPLJhS+Tor7joFbSIUKECoambFQ85NCxUkL9WYLTqOAG0yECZ3o\n5rstzVEG38oGMsHi+MQpDSGAKlYRmOKTeNGgq0BxyztwElXlTwIUV98Rhh5KGYZB9JZ38UnDfUdA\np5K+zrkvSAQiLxsjRxXEMIxC8gQ+bc9sIJ5IMROddMtg8Lrt33YHM6L/wx0sOYgBzKTmPQIi7ZKG\nCut1fUwYEwHrFgVNW5KWBh2yeFcHb0IdvK5pPHHu4AUQZNWpgev64oxV0pM2O3VAISXvgLQlIRS+\n1ZGup9ADSZZ2G4R8Z9RoTMTT5rvwpC1JJKUhLBNY0JvW4AFTyrhKAa+7VU6CkSkphbSyUQs6yoC8\nAs3HTE6xKjU1VWA4n+jpVMHRniY4ZAM9iUNdgzV/+b8YcijUzASoTLGXhAmM7iDIjT0scERT8mFP\n935yySv1CpvOkTZ4DnUC3MIT3fKxn5xohDFADXVwzNptZgLcYuS3IxMULwmocanq4AXoZCVholVE\nxaW7MXved6NyrqMsxP+dPayQGJAak8BJS4p0nncdQs+q+IRMYCA20eMO4BYNOkKVWlvqnQImOhFu\n8KqWqTUfYtDMHGemEd6kWzpeg323vk7QeK3MNOeiQQeyxYF1TKQUd4h0NnpoeVFEis9Q1n2anTA/\nXnxEk8c4um4qCnwiBBwsykYFcRWNTMaTjpqmFCuh6TPZAns3ugEGI6RrXhRrGpkN2Mkik5HFDVVo\nAumIZ0Z+NGGnjlJK7YSEDKJhn3QYjU7xzJ47GPFM8hrMMzg+kVIr8J2N19aJvQWvc3PmkrtlnWiE\naarerRNgD+NJ7cTle2ffy9yAnHMQm9phsvuuf5dOPkLGSyCbUuVwKAUMxQxVkMUtEQocry2pCTwK\npqr5mNjKzIUKymADjGXGmB1gppX8DldcLd3yeQaDZtnXk+sMLwDEz4SIJ4b2W7a01E61gILHbaJx\n8echQxUf7edhgDoJJ3XLRFVEpM5rvsDFak9pzxRGc3WMbjNLpzzP0czPLI4IlK9AppopYMypUDm2\nZX1mjpNzbfS6pov61uF4jXKWVXxgUL8rCuy6PnMdT7VAM+ELE0GDjjv8aId0u4FWIC2PAi3niENa\nPCGMNqJ5aswPL2LhV18Pc9981TruftiKwfbXqKdffbmmx4H/w3kLcrTdK5Gho2A5dk6vRMQ8sEQX\niX5WxBJdtOEY6U43EtEXydH2b0VIL2rho0/2wsFFNXyRpUIPrautoqyRyNBl6CiRLtx91x1dZGhZ\n0xfxALrs4T/WyAFsPorVPewzWvIiOdLm4NFxvOh4jzlU15DouMoJdAlDii0DwiSxdZAMEC+rfnom\niQiHupz3eOcOeFWmXl+0pqnGlHpaJPW06HRVjuXprY/k/RDvIfoKlIKLNI9ebSHOT9nrOEzYLqEb\nm76oROpukcTvPw18OKVc0iJQ9cZqBUBmA6SaR10PTXebn0kI8BbesRsV4AfydNWoCwLzuLgJTjGe\nwpTCocRpfxiGraFdFnVjDbPxZAr0cLreJQ4RU0H1FRU6j7pXRCh8dCbCS2gX9krSw/C2YJDEja8Y\n4MPpln2D5prkNId12i9qaRGOsc5ANcY6q9O1VECmUmzW9TSH8b0zjr3yxVnS3k9v3p5S1bwlcTVw\n0qHajPAUSpxkezgKI1N0psEtQvihC80Rl7WiImuoCzmbjU/p78fyb9OxqelKXj8nLqIsHZFIVZLZ\nspCi8JTDWLgktJkLiJeS1CzfI5b00T3MgEM6LmExtw8Twk7Av2AJiahY0aKwUusyWsLgtUotDGJq\nZESUtd6HAGPQQHHGim9yI1g9bIGCFxGffUoVcI8VcLIlyTXnZIhY8PvJ20O0aCoZbetp8ManeBmW\ntOmO2ZSQBmZczK2uhT4yB4zQAUd+mDmABJQS0bJGmYjklbqmj641dpLOXmKW43w2bsw1S4TSpI4r\nkq2d4053aHWUmPLa8ppyDzCAqSy+LZHiF5m6HJrOghe0sYevNWuIZH0WVXsscvqJyPmLaslDM7ad\n+7EAriR5FbA2KivVUgCLlwTifdYQNh3WpAJw1oCRCXDOoayvuQMKqNQjc4BGQ5zUx98aZvgd028v\nFPGgUrMEUBgnbjFZspSdQJjYSfoTWuGQTuWjYk+2WBdth2N1LexGBURIsomciowOutQ+DUJxL2CJ\nRGA4NbLy2HNYVX4ywkdPzGlchHKYqvmwYUkLvsSxW/2jrJJkSayLi+SPHqEuLhIPYQxg4kmlYTOB\nNmrN5p3kPL9nbsxfBKidMdGYEhx+LswJeIycQ441X0XlCA94UPGLMvI3wYoBm7KaVVOEj0eixoPi\nF3l4r/lqIeaqh858ZHCIxjQjKRP98NPbNVM3LLH+LUUMqt1+yFLTAfmoaa51VPlGFg2WSDFkDh8k\nUFLuAeU1ZtfzeX7eLbxwD8pGzrFhhv+uUDJA5DCrLR9beFHz0VMavXkvEL/o/BueAFY5VVfQUpcU\nnLM0iauAq/s99f540ZJd1EN1V//aYCQicXvpRBRtA08+SAu4x5IWLc4bwyFpowW4Rz4FQyIf/vrw\nP6Edf7EjSAAA\n", "_dom_classes": [], "_id": 570602561, "_options_down": "H4sIAB4z0l0C/3VRy2rDMBD8FbGnFkzqtoSACYFc+jj1kNJcepHttS0iS0ZaBznG/95V7PRQ6En7\nmJ2ZXY1QNNIRZCPQ0CFk4AtJhA4SuFjbfs7FMMCUAIbOOlKmhqyS2mMCnbb00ZGyxkeK2yyHrXSn\nOXKyVD2319PEHGStJtXFRoOyRPdiXSvZAGzz3QFDJkaPTqFfGdnitP1+yHfb3O3YT2eVoV/4eE1X\nYRJFm4glGyZxqqNVjTWaMqpoOdg+DpyRvRdSM5PUqjZc0lgRp7fOfimT7bgaIHtM0wQGyDb8VNrK\neXdyPa+eW8fuj6qkhoEsGfZBXa9AijReAwxR+A1V3ZC4K9p7iCcY/gMeF+CpnoH/EH2h870XC9pW\nYp1uxLsp1VmVPf+LyAfxytvz+ZnE9/lfnoPtXYGZYD5zEU9p+sxyP44s2DsKAgAA\n", "height": "500px", "layout": "IPY_MODEL_1f8b648153794525afc966049689b778", "width": "700px"}}, "1f8b648153794525afc966049689b778": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-570602561">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "25e9d4a0d4f542558b6c06de887f7047"}
  </script>
</div>
    '
        height="500"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-scatter-chart-tags',
  data() {return {}}
}
</script>
