
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"94ec41b14bc8499e8ddc7b10837ebb49": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIALQy0l0C/6WSuU7DQBBA/8W1heY+0vEPdJELCygQggIoQIh/Z4zXcaJshzvv27n2zfF7eJ1f\nHofDcPc23z/jMA5ft59P78MBxuFh/piHw/GIQgAOAss34g1M498ZqsV6BjeZqgGJHA0KGpygk9Zl\nZW9QgeQEVRUgzDYWsWd11lDSwAbNlXYIyYTI1KBbq7mWtDBCapEIBHtadSAu2ppFBN/TipCnJWyR\nmLynRU5SA9sgrUlXCBUFKG1KZLN9SqrJzDxbs2hLmg0ycaSiS4OOBGeRGEFiG8vYs4ILSNXBafoZ\nL13SP1xyteMaeeWyAqBeJKDav3K5QGOvRXDsyawRy4Fb12Vi8GK05zJqPUJQtOsyNBO39blUacZZ\nD8bZU+kkXKvl3lMZiJQkyT2XqiwsqdxzWdd4+feeSxYDPat5IXPptJpnLZnTL365eNiaAwAA\n", "_dom_classes": [], "_id": 354558929, "_options_down": "H4sIALQy0l0C/6tWSs5ILCpRsqpWKqksSFWyUsrJzEtVqq0FAEmpF9YZAAAA\n", "height": "750px", "layout": "IPY_MODEL_fba1de3cc863424ba485293325a3ac00", "stock": true, "width": "600px"}}, "fba1de3cc863424ba485293325a3ac00": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-354558929">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "94ec41b14bc8499e8ddc7b10837ebb49"}
  </script>
</div>
    '
        height="800"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-dimensions',
  data() {return {}}
}
</script>
