<template>
  <div>
    <highcharts :options="chartOptions" :highcharts="hcInstance"></highcharts>
  </div>
</template>

<script>
import {Chart} from 'highcharts-vue'

export default {
  name: "demo1",
  data() {
    return {
      // hcInstance: Chart,
      chartOptions: {
        chart: {
          type: "bar"
        },
        title: {
          text: "Fruit Consumption"
        },
        xAxis: {
          categories: ["Apples", "Bananas", "Oranges"]
        },
        yAxis: {
          title: {
            text: "Fruit eaten"
          }
        },
        series: [
          {
            name: "Jane",
            data: [1, 0, 4]
          },
          {
            name: "John",
            data: [5, 7, 3]
          }
        ]
      }
    };
  },
  components: {
    highcharts: Chart
  }
};
</script>

<style>
</style>