
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"5361f91d51bd47bd9bb614ae61340ef6": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIAMMy0l0C/4uuVspLzE1VslLySsxLVdJRqnSsyCxWsjLQUUpJLElUsoqOVnIsKMhJLVbSMYrV\niVbyL0rMS4fzAlITi4BsYxDbvSixAC7hlJgHhECeYWxsrQ7CknwCdhij2GGCZIcJbjtM0ezIyMNv\niSmKJca4LDFHscQIaEksAOvAo4svAQAA\n", "_dom_classes": [], "_id": 283497994, "_options_down": "H4sIAMMy0l0C/13MzQrDIAwA4FeRnPsEvdXCdtzuY4cg0gWsSoxgKb57M2GXkUP+vuQE90EWmE+Q\nI3uYwaVQ9wh9AiEJfmx8UwEWCzljkc06bpQcS6MyyJ+9cSUxa4ql7lko6UPl7ccdit8Sk9fuBUvO\nQasJHoxxG9XTI3/znTGPgcWoUeDd+wVmrD2MtAAAAA==\n", "height": "400px", "layout": "IPY_MODEL_9f257a1d492b46cb81aef228c50b031d", "width": "100%"}}, "9f257a1d492b46cb81aef228c50b031d": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-283497994">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "5361f91d51bd47bd9bb614ae61340ef6"}
  </script>
</div>
    '
        height="420"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-column-bar',
  data() {return {}}
}
</script>
