
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"e7ab8a8aefcf4767a3316c973e92c638": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIAIgy0l0C/02Su2oDMRBF/0X1IqR5z3aBlCnSmy2WxIXBjgNx0hj/e4w9Wknl4XK4M6PdNX2t\np32a08vL+1ua0ud6WdO821VyqVzL402VMYsu0wMDKjUMWSUwAlpPVwtMtUDDnIkDizj1tGNgZd4k\n1NNGMEiwNXEw6Wn3J9ZSufUmyx5NFJSahO5NIDBKaRKSzE1CpKWna0ypjNh6E2VoaaneehNkiIJq\n6qW7kQK7MHV3qU9shat1bCGxijb0lliVAdDQG2JKI8NRElMa63YGwqxNIiwypBtWwtLT0twGPgxf\nwu3FtjPc03EzB6ljODblSDpsqhVxwn4c2n7P/cQ4biqu4Ko+DMm4LFO6nM/Hy+E7zdf0tx5/96/7\nj8NpPf6kGW635R+ZMy/S6QIAAA==\n", "_data_up": "{\"series\":[[{\"x\":1496151000000,\"y\":153.67},{\"x\":1496237400000,\"y\":152.76},{\"x\":1496323800000,\"y\":153.18},{\"x\":1496410200000,\"y\":155.45},{\"x\":1496669400000,\"y\":153.93},{\"x\":1496755800000,\"y\":154.45},{\"x\":1496842200000,\"y\":155.37},{\"x\":1496928600000,\"y\":154.99},{\"x\":1497015000000,\"y\":148.98},{\"x\":1497274200000,\"y\":145.42},{\"x\":1497360600000,\"y\":146.59},{\"x\":1497447000000,\"y\":145.16},{\"x\":1497533400000,\"y\":144.29},{\"x\":1497619800000,\"y\":142.27},{\"x\":1497879000000,\"y\":146.34},{\"x\":1497965400000,\"y\":145.01},{\"x\":1498051800000,\"y\":145.87},{\"x\":1498138200000,\"y\":145.63},{\"x\":1498224600000,\"y\":146.28},{\"x\":1498483800000,\"y\":145.82},{\"x\":1498570200000,\"y\":143.73},{\"x\":1498656600000,\"y\":145.83},{\"x\":1498743000000,\"y\":143.68},{\"x\":1498829400000,\"y\":144.02},{\"x\":1499088600000,\"y\":143.5},{\"x\":1499261400000,\"y\":144.09},{\"x\":1499347800000,\"y\":142.73},{\"x\":1499434200000,\"y\":144.18},{\"x\":1499693400000,\"y\":145.06},{\"x\":1499779800000,\"y\":145.53}],[{\"x\":1496151000000,\"y\":153.67},{\"x\":1496237400000,\"y\":152.76},{\"x\":1496323800000,\"y\":153.18},{\"x\":1496410200000,\"y\":155.45},{\"x\":1496669400000,\"y\":153.93},{\"x\":1496755800000,\"y\":154.45},{\"x\":1496842200000,\"y\":155.37},{\"x\":1496928600000,\"y\":154.99},{\"x\":1497015000000,\"y\":148.98},{\"x\":1497274200000,\"y\":145.42},{\"x\":1497360600000,\"y\":146.59},{\"x\":1497447000000,\"y\":145.16},{\"x\":1497533400000,\"y\":144.29},{\"x\":1497619800000,\"y\":142.27},{\"x\":1497879000000,\"y\":146.34},{\"x\":1497965400000,\"y\":145.01},{\"x\":1498051800000,\"y\":145.87},{\"x\":1498138200000,\"y\":145.63},{\"x\":1498224600000,\"y\":146.28},{\"x\":1498483800000,\"y\":145.82},{\"x\":1498570200000,\"y\":143.73},{\"x\":1498656600000,\"y\":145.83},{\"x\":1498743000000,\"y\":143.68},{\"x\":1498829400000,\"y\":144.02},{\"x\":1499088600000,\"y\":143.5},{\"x\":1499261400000,\"y\":144.09},{\"x\":1499347800000,\"y\":142.73},{\"x\":1499434200000,\"y\":144.18},{\"x\":1499693400000,\"y\":145.06},{\"x\":1499779800000,\"y\":145.53}]],\"xAxis\":{\"min\":1496151000000,\"max\":1499779800000},\"yAxis\":{\"min\":140,\"max\":157.5}}", "_dom_classes": [], "_id": 569766420, "_options_down": "H4sIAIgy0l0C/6tWKkrMS08NTs1JTS7JL1KyqlYqBrNTU5SsDGt1lEoyS3JSQcIlqRUlSlZKjo4B\nPgrBJfnJ2QoBRZnJqUpANckZiUUlYDWVBUC1SjmZeUDxWgAcABTrXAAAAA==\n", "height": "500px", "layout": "IPY_MODEL_38d1292aabe6498eb8d5baa17eaf720b", "stock": true, "update_data": 1, "width": "100%"}}, "38d1292aabe6498eb8d5baa17eaf720b": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-569766420">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "e7ab8a8aefcf4767a3316c973e92c638"}
  </script>
</div>
    '
        height="520"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-basic-chart',
  data() {return {}}
}
</script>
