
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"8b0dc8767ad3465cba9e4e3bd7a67187": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIAMgy0l0C/yXMMQvCMBCG4f/yzccRg60lm4iCgzh0DBkOvJIgWrlmqIj/Xavb+yxvfOEuN0XA\n6Vr7LKYgPLdzmRAc4SJVEGLEoZgO4wxaN+wSRRz3IN9yt/Qu2/h90Mr/3csgVkAdNwvPDzUBtex/\nqlltAjnepPROH75EtPCBAAAA\n", "_dom_classes": [], "_id": 779941177, "_options_down": "H4sIAMgy0l0C/y1OSwrCMBS8SnnrniBLd0LFhSd4NYMNhiS8jFQpuXvT4mpg/ps8FzWK24S/AnFS\nAqSNUmLmvTDkVA/xYDvUJa/XNMG/kLw42gejeKVOOiOeTiSdI/5ia72KgfFME9++JBfLa4UNN7U3\nODz6gT7Zdrd/F96LAAAA\n", "height": "400px", "layout": "IPY_MODEL_13faf6c1af15435ab0c8a7a4bde65602", "width": "400px"}}, "13faf6c1af15435ab0c8a7a4bde65602": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-779941177">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "8b0dc8767ad3465cba9e4e3bd7a67187"}
  </script>
</div>
    '
        height="420"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-pie-chart',
  data() {return {}}
}
</script>
