
<template>
  <div class="example-ipyhc">
      <iframe 
        srcdoc='<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" 
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" 
  crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script 
  src="https://unpkg.com/@jupyter-widgets/html-manager@*/dist/embed-amd.js" 
  crossorigin="anonymous">
</script>
<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
  {"version_major": 2, "version_minor": 0, "state": {"9284e832f6c24039b5febc3860647a75": {"model_name": "ChartModel", "model_module": "ipyhc", "model_module_version": "~0.0.0-alpha.5", "state": {"_data_down": "H4sIABE00l0C/03MsQ6CQBBF0X+Z+jWIsBs6Y2thT7YYcQqS3YGYNcQY/t0hKFje4tz2Tfk1CjXU\nDfGZlEDKaenzr++cmZrWw6FGhSNKHFAE0Dj0mq+RO0mi2chN8iSiNGO7xl5lf17W+h4L+5T2q+zr\n4MMf44fwzk5rbcwbdEbrBYc5fACRLmmNxQAAAA==\n", "_dom_classes": [], "_id": 540434813, "_options_down": "H4sIABE00l0C/02QTU/DMAyG/0pkDgNRoUp8HMppmlSJE5M4cAAOWeu10VKnSh3Uqcp/x8kG7Pg6\nj/04XqDptWeoFhid1R4q9gEL4OOIUIE1hBAlGraYIMZZYNgmVm1yqzyPmvLrxFJYU5fYsgCk9hzu\nnyTudHPovAvUQvWxXMSNs07McFXXNQjnfIv+3bTcy5j4JYJ5PZsp+01zeCFG/60tVA+PBQyGsmzQ\n89lj9Q5tpvfOD5qFluH7QA0bR9c3alEeOXhS3JvpTiYFVLdq9RnKcleunlWEKM7jr/NkSN+0jl/H\nNCTXJ/QGp9PpDPEb50PKAjlebim9jbNhoD94q9vWUJfxdITxvxBj/AEIG6CjlgEAAA==\n", "height": "500px", "layout": "IPY_MODEL_c59e80cbbd3b46169c9055267a6a9c88", "width": "500px"}}, "c59e80cbbd3b46169c9055267a6a9c88": {"model_name": "LayoutModel", "model_module": "@jupyter-widgets/base", "model_module_version": "1.2.0", "state": {}}}}
</script>
<div id="embed-grid-540434813">
  <!-- This script tag will be replaced by the views DOM tree -->
  <script type="application/vnd.jupyter.widget-view+json">
    {"version_major": 2, "version_minor": 0, "model_id": "9284e832f6c24039b5febc3860647a75"}
  </script>
</div>
    '
        height="500"
        width="100%"
        frameborder="0"
      ></iframe>
  </div>
</template>

<script>
export default {
  name: 'example-polar-col-lin-are-chart',
  data() {return {}}
}
</script>
