$accentColor = #7C82FF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// Layout configuration
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

.theme-container.custom-home-page {
    .home .hero img {
        max-height: 230px;
        margin: 5rem auto 3.5rem
        }
}